pipeline/incremental-ingestion_loop_multiple_data.json
{
	"name": "incremental-ingestion_loop_multiple_data",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.loop_input",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "azuresqltodatalake",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "last_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "current",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * \nfrom @{item().schema}.@{item().table} t\nwhere t.@{item().cdc_col} >\n'@{if(\n      empty(item().from_date),\n      activity('last_cdc').output.firstRow.cdc,\n      item().from_date\n   )}'\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSql",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"conatiner": "bronze",
										"folder": {
											"value": "@item().table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().table,'_',variables('current'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "last_cdc",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"conatiner": "bronze",
										"folder": "cdc",
										"file": "cdc.json"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "current",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "current",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Ifincrementaldata",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "azuresqltodatalake",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('azuresqltodatalake').output.dataRead,0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Deleteemptyfile",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "Parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"conatiner": "bronze",
													"folder": {
														"value": "@item().table",
														"type": "Expression"
													},
													"file": {
														"value": "@concat(item().table,'_',variables('current'))",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "update_last_cdc_watermarking",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "max_cdc",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"additionalColumns": [
													{
														"name": "cdc",
														"value": {
															"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"conatiner": "bronze",
													"folder": {
														"value": "@{item().table}_cdc",
														"type": "Expression"
													},
													"file": "empty.json"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Json_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"conatiner": "bronze",
													"folder": "cdc",
													"file": "cdc.json"
												}
											}
										]
									},
									{
										"name": "max_cdc",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "AzureSqlDatabase1",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "select MAX(t.@{item().cdc_col}) as cdc\nfrom @{item().schema}.@{item().table} t\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						},
						{
							"name": "lkp_read_input_loop",
							"type": "Lookup",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_input_loop",
									"type": "DatasetReference",
									"parameters": {
										"conatiner": "bronze",
										"folder": "config",
										"file": "input_loop.json"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed",
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-26.northcentralus.logic.azure.com:443/workflows/18f91642856c47ef8af2d778d480ad8e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=DWDCCC9RcZff0anD_kvVpeSl0QtURih0owCFAJIx_18",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"pipeline_runId\": \"@{pipeline().RunId}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"loop_input": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "dbo",
						"table": "DimUser",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimTrack",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimDate",
						"cdc_col": "date",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "DimArtist",
						"cdc_col": "updated_at",
						"from_date": ""
					},
					{
						"schema": "dbo",
						"table": "FactStream",
						"cdc_col": "stream_timestamp",
						"from_date": ""
					}
				]
			}
		},
		"variables": {
			"curent": {
				"type": "String"
			},
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}